.mb-tiny {
    margin-bottom: 2vh;
}

.mb-medium {
    margin-bottom: 5vh;
}

.options-container {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-bottom: 12vh;
}

.input-group {
    display: flex;
    flex-flow: column;
    padding-left: 3vw;
}