body {
    margin-left: 27px;
    margin-right: 27px;
}

ui5-slider {
    height: auto;
    width: auto;
    outline: none;
    padding: 1vh;
}

ui5-slider::part(handle) {
    height: 15px;
    width: 15px;
    margin-left: -6px;
    margin-top: 6px;
    outline-offset: 0.045rem;
}
