name: create release

on:
  workflow_dispatch:
  push:
    tags:
    - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24.x]
    steps:
    - name: checkout repository
      uses: actions/checkout@v4
    - name: use node ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: build extension source => dist => zip
      run: |
        npm ci
        npm run build
        npm run zip
    - name: create release
      uses: ncipollo/release-action@v1
      with:
        artifacts: "*.dist.zip"
        token: ${{ secrets.GITHUB_TOKEN }}
